.profile__edit-button {
    background-image: url('../../../images/profile-EditButton.svg');
    background-color: #000000;
    background-size: contain;
    border: none;
    padding: 0;
    margin: 0 0 0 10px;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    transition: opacity 0.5s;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .profile__edit-button {
        height: 24px;
        width: 24px;
        margin: 0 0 0 18px;
    }

}