.popup__button {
    width: 100%;
    height: 46px;
    background-color: #000000;
    border: none;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    transition: opacity 0.5s;
    margin-top: 16px;
    cursor: pointer;
    opacity: 1;

}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .popup__button {
        height: 50px;
        font-size: 18px;
    }
}