.footer__logo {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #545454;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .footer__logo {
        font-size: 18px;
        padding: 18px 0 24px 0;
    }
}