.profile {
    padding: 0;
    margin: 0 6% 40px 6%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (min-width: 768px) {
    .profile {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

