.header {
    padding: 0;
    margin: 28px 0 42px 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 768px) {
    .header {
        margin: 45px 6% 36px 6%;
    }
}