.profile__add-button {
    width: 282px;
    height: 49px;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    box-sizing: border-box;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .profile__add-button {
        margin: 0 0 0 auto;
        width: 148px;
        height: 48px;
    }
}