.element__picture {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 0;
    filter: brightness(90%);
    background-image: url("../../../images/element__fallback.png");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.element__picture:hover {
    cursor: pointer;
}
