.profile__edit-info {
    margin: 0;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .profile__edit-info {
        padding: 27px 0 0 0;
    }
}