.profile__picture {
    height: 120px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto 25px auto;
    z-index: 0;

}

@media screen and (min-width: 768px) {
    .profile__picture {
        margin: 0;
    }
}

