.popup__container {
    margin: 0 auto;
    width: 282px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    padding: 25px 22px 25px 22px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .popup__container {
        margin: 0 auto;
        width: 430px;
        padding: 34px 36px 37px 36px;
    }
}