.profile__add-button {
    background-image: url("../../../images/profile-Add.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    width: 282px;
    height: 49px;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .profile__add-button {
        margin: 0 0 0 auto;
        width: 148px;
        height: 50px;
        background-size: 22px;
    }
}