.element__fallback {
    background-image: url("../../../images/element__fallback.png");
    background-size: cover;
    width: 100%;
    margin: 0 0 23px 0;
    background-position: center;
    border-radius: 10px 10px 0 0;
    position: relative;
    padding-bottom: 100%;
}

