.popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s linear;
}

